<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Pick a planet:</h1>
<!--    <table class="table table-striped"  th:each = "planet:${planets}">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th th:text="${planet.name}"></th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tr>-->
<!--            <td th:text="${planet.yearLength}+' earth days in one year'"></td>-->
<!--        </tr>-->
<!--    </table>-->
    <table>
        <th:block th:each = "planet:${planets}">
            <tr>
                <td th:text="${planet.name}+': '+${planet.yearLength}+' earth days in one year'"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>